# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

OUT_*
OBJ
RESTART
SAM_ADV_*
UTIL/2Dbin2nc
UTIL/2Dbin2nc_mean
UTIL/2Dbin2nc_sep
UTIL/2Dbin_sep2one
UTIL/2Dcom2nc
UTIL/2Dcom2nc_mean
UTIL/2Dcom_sep2one
UTIL/bin2D2nc
UTIL/bin3D2nc
UTIL/bin3D2nc_mean
UTIL/bin3D_sep2one
UTIL/com2D2nc
UTIL/com3D2bin
UTIL/com3D2nc
UTIL/com3D2nc_mean
UTIL/com3D2nc_sep
UTIL/com3D_sep2one
UTIL/glue_movie_raw
UTIL/isccp2nc
UTIL/misr2nc
UTIL/modis2nc
UTIL/stat2nc
UTIL/qn_stat2nc
